.Facture-content {
  margin-left: 19rem;
  margin-right: 0;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Utiliser la largeur totale de la page */
  margin-top: 2rem; /* Ajustez la marge supérieure selon vos besoins */
}

.Facture-content h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
  font-weight: 600;
}

.filter-section {
  display: flex;
}

.filter-section > * {
  margin-right: 20px;
}

.table-container {
  margin-top: 20px;
}

.facture-table {
  width: 100%;
  margin-bottom: 1rem;
  color: #333;
  overflow-x: auto; /* Ajout de la barre de défilement horizontale */
}

.facture-table thead th {
  border-bottom: 2px solid #dee2e6;
  color: #007bff;
  font-weight: 600;
  background-color: #f5f7fa;
}

.facture-table tbody td {
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: middle;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin-right: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}
